<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>
<plugin>

  
  
   
   <extension
         point="org.knime.workbench.repository.nodes">
      <node
            category-path="/community/fmp001"
            factory-class="de.EUOPENSCREEN.SPARQLQuery.SPARQLQueryNodeFactory"
            id="de.EUOPENSCREEN.SPARQLQueryNodeFactory">
      </node>
      <node
            category-path="/community/fmp001"
            factory-class="de.EUOPENSCREEN.FastTanimoto.FastTanimotoNodeFactory"
            id="de.EUOPENSCREEN.FastTanimotoNodeFactory">
      </node>
   </extension>
   <extension
         point="org.knime.workbench.repository.categories">
      <category
            icon="icons/EUOPENSCREENIcon.png"
            level-id="fmp001"
            locked="true"
            name="EU-OPENSCREEN"
            path="/community">
      </category>
   </extension>
   
   
</plugin>
